@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    background-color: rgb(29,26,26)
}

h1 {
    color: white;
    font-size: 5.3rem;
    margin-bottom: 5rem;
    margin-top: 25rem;
}

/*Give the game a global font*/

* {
    font-size: 63%;
    font-family: 'Anton', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/*Display the buttons in a column rather than side by side*/

.home-buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    padding: 2rem 0;
    color: black;
    background: red;
    border-radius: 4px;
    text-decoration: none;
}

/*Got the box shadow values from cssgenerator.org*/

.btn:hover {
    cursor: pointer;
    box-shadow: -5px 1px 24px 5px rgba(255,0,0,0.75);
    -webkit-box-shadow: -5px 1px 24px 5px rgba(255,0,0,0.75);
    -moz-box-shadow: -5px 1px 24px 5px rgba(255,0,0,0.75);
    transition: transform 150ms;
    transform: scale(1.03);
}

/*Adjust values of the FA Icons so that they dont look so small and out of place*/

.fa-football {
    margin-left: 1rem;
    font-size: 3rem;
}

.fa-crown {
    margin-left: 1rem;
    font-size: 3rem;
}


